In [1]:
import pandas as pd

El GCPD (Gotham City Police Dept) recolecta la información de casos policiales que acontecen en
Ciudad Gótica. Esta información se encuentra guardada en un dataframe con el siguiente formato: (fecha, id_caso,
descripcion, estado_caso, categoria, latitud, longitud).
Los posibles estados que puede tener un caso son 1: caso abierto, 2: caso resuelto, 3: cerrado sin resolución. Las
fechas se encuentran en el formato YYYY-MM-DD.
Por otro lado el comisionado Gordon guarda un registro detallado sobre en cuáles casos fue activada la batiseñal para
pedir ayuda del vigilante, Batman. Esta información se encuentra en un Dataframe con el siguiente formato (id_caso,
respuesta), siendo campo respuesta si la señal tuvo una respuesta positiva (1) o negativa (0) de parte de él
El sector encargado de las estadísticas oficiales del GCPD quiere con esta información analizar las siguientes
situaciones:

In [46]:
casos = pd.DataFrame({'fecha': ['2017-12-14', '2016-03-12', '2017-11-12', '2016-04-02', '2018-10-03', '2017-10-02', '2018-01-02', '2018-03-02', '2018-02-02', '2018-12-02', '2017-04-04', '2018-01-01', '2017-11-02'],
                        'id_caso': [0,1,2,3,4,5,6,7,8,9,10,11,12],
                        'descripcion': ['C0', 'C1', 'C2', 'C3','c4','5','6','7','8','9','10','11','12'],
                        'estado_caso': [1, 2, 1,2,1,1,1,2,1,2,3,1,1],
                        'categoria': ['A', 'D', 'C', 'D','A','C','A','D','D','A','C','A','C'],
                        'latitud': ['D0', 'D1', 'D2', 'D3','D0', 'D1', 'D2', 'D3','D0', 'D1', 'D2', 'D3','a'],
                        'longitud': ['D0', 'D1', 'D2', 'D3','D0', 'D1', 'D2', 'D3','D0', 'D1', 'D2', 'D3','s']},
                        index=range(0,13))

In [3]:
Batman= pd.DataFrame({'id_caso': [0,1,2,3,4,5,6,7,8,9,10,11,12],
                     'respuesta':[1,0,1,1,0,1,0,0,0,1,1,0,1]})

Tasa de resolución de casos de la fuerza policial por categoría de caso (considerando aquellos casos en los que no
participó Batman).

 Tasa de resolución de casos con la ayuda de Batman (considerando que aquellos casos en los que fue llamado con la
batiseñal, participó en la resolución).

In [5]:
casos = casos[['id_caso','estado_caso','categoria']]

In [6]:
casosBatiseñal = pd.merge(casos,Batman,on='id_caso',how='left')

In [7]:
casosBatiseñal = casosBatiseñal.fillna(value={'respuesta':0})

In [38]:
casosRespuestaCate = casosBatiseñal.groupby(['categoria','respuesta']).apply(lambda x: x[x['estado_caso']==2].count()/x['estado_caso'].count())

In [39]:
casosRespuestaCate = casosResouestaCate[['id_caso']].rename(columns={'id_caso':'tasa'})

In [40]:
tasas = casosRespuestaCate.unstack()

In [41]:
tasas

               tasa
respuesta         0    1
categoria
A          0.000000  0.5
C               NaN  0.0
D          0.666667  1.0

- Indicar el mes del año pasado en el que Batman tuvo mayor participación en la investigación de casos.

In [47]:
casosFecha = casos[['fecha','id_caso']]

In [73]:
BatmanParticipa = Batman[Batman['respuesta']==1]

In [74]:
casosFechaBatiseñal = pd.merge(casosFecha,BatmanParticipa,on='id_caso',how='right')

In [75]:
casosFechaBatiseñal = casosFechaBatiseñal[(casosFechaBatiseñal['fecha']>'2016-12-31')&(casosFechaBatiseñal['fecha']<'2018-01-00')]

In [76]:
casosFechaBatiseñal

        fecha  id_caso  respuesta
0  2017-12-14        0          1
1  2017-11-12        2          1
3  2017-10-02        5          1
5  2017-04-04       10          1
6  2017-11-02       12          1

In [77]:
casosFechaBatiseñal = casosFechaBatiseñal[['fecha','respuesta']]

In [78]:
casosFechaBatiseñal['fecha'] = casosFechaBatiseñal.apply(lambda x: x['fecha'].split('-')[1],axis=1)

/home/july/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
casosFechaBatiseñal

  fecha  respuesta
0    12          1
1    11          1
3    10          1
5    04          1
6    11          1

In [81]:
cantidad = casosFechaBatiseñal['fecha'].value_counts().reset_index(name='cantidadParticipaciones')

In [83]:
cantidad = cantidad.rename(columns={'index':'mes'})

In [86]:
cantidad.head(1)

  mes  cantidadParticipaciones
0  11                        2