In [2]:
import pandas as pd

In [50]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

In [3]:
data = pd.read_csv('data/events.csv')

/home/july/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version'],
      dtype='object')

# ¿Cuántos productos ve un usario antes de comprar?

In [6]:
data.event.value_counts()

viewed product       528931
brand listing         98635
visited site          87378
ad campaign hit       82827
generic listing       67534
searched products     56073
search engine hit     50957
checkout              33735
staticpage             3598
conversion             1172
lead                    448
Name: event, dtype: int64

In [26]:
data[['event','sku','skus']][data['event']=='conversion'].head(2)

           event   sku skus
220   conversion  3084  NaN
2282  conversion  6650  NaN

In [31]:
view_conv = data[(data['event']== 'viewed product') | (data['event']== 'conversion')]

In [32]:
view_conv.shape

(530103, 23)

Me fijo cuales son los usuarios que hiciero compras:

In [14]:
user_conversion = view_conv[view_conv['event']=='conversion']

In [15]:
user_conversion.shape

(1172, 23)

In [12]:
user_conversion = user_conversion.drop_duplicates(subset='person')

In [29]:
user_conversion =  user_conversion[['person']]

In [30]:
user_conversion.shape

(1172, 1)

In [33]:
view_conv = pd.merge(view_conv, user_conversion, on = 'person', \
                     how = 'inner')

In [34]:
view_conv.shape

(120097, 23)

In [38]:
group_by_person_sku = view_conv.groupby(['person','sku'])['event'].value_counts().reset_index(name='cantidad')

In [40]:
group_by_person_sku.head(2)

     person   sku           event  cantidad
0  00204059   241  viewed product         1
1  00204059  2682  viewed product         3

In [43]:
product_and_person_conversion = group_by_person_sku[group_by_person_sku['event']=='conversion']

In [44]:
product_and_person_conversion.shape

(904, 4)

In [45]:
product_and_person_conversion = product_and_person_conversion[['person','sku']]

In [46]:
df = pd.merge(group_by_person_sku,product_and_person_conversion,on=['person','sku'], how='inner')

In [48]:
df.shape

(1624, 4)

In [49]:
df.head()

     person   sku           event  cantidad
0  00204059  3084      conversion         1
1  00c13dee  6650  viewed product         2
2  00c13dee  6650      conversion         1
3  00fdbb4b  3348      conversion         1
4  00fdbb4b  3348  viewed product         1

In [53]:
sns.swarmplot(x="event", y="cantidad", hue="person", data=df);

KeyboardInterrupt: